<html>
  <head>
    <meta charset="UTF-8">
    <title>AnsibleDB</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <!-- DataTables assets -->
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-3.5.0.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
    <!-- DataTables button -->

    <script>
      function delete_host(host){
          var form_delete_host = document.createElement("form");
          var host_delete = document.createElement("input"); 
          form_delete_host.method = "POST";
          form_delete_host.action = "/inventory";
          host_delete.type="hidden";
          host_delete.name="host_delete";
          host_delete.value=host;
          form_delete_host.appendChild(host_delete);
          document.body.appendChild(form_delete_host);
          form_delete_host.submit();
}
    </script>
  </head>
  <body>


  <header>
    <h1>AnsibleDB </h1>
    <span id="top"><a href="#">Back to top</a></span>
    <span id="menu_button"><a href="/logout" title="logout">Logout</a></span>
    <!--<span id="menu_button"><a href="/api/docs" title="docs">Api Docs</a></span>-->
    <span id="menu_button"><a href="/settings" title="settings">Settings</a></span>
    <span id="menu_button"><a href="/facters" title="facters">Facters</a></span>
    <span id="menu_button"><a href="/inventory" title="inventory">Inventory</a></span>
    <span id="menu_button"><a href="/" title="dashboard">Dashboard</a></span>
  </header>

  {% if result !=[] and 'ansible_facts' in result[0].keys()  %}
  
  <div id="top_div">
    

  <table>
    <tr>
      <td colspan="2">
        <h2>{{host_facters}} Facters</h2>
      </td>
    </tr>
    <tr>
      <td>
        Last Update:
      </td>
      <td>
        {{result[0]['ansible_facts']['timestamp']}}
       </td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
      <td colspan="2">
        <button style="font-size:14px" onclick="delete_host('{%print host_facters%}');">Delete {{ host_facters }} </button>
      </td>
    </tr>
  </table>
  
</div> 


  
  <div id="ansibledb_tbl_div">
    <div id="ansibledb_tbl_wrapper">
      <table id="ansibledb_tbl" class="display compact">
      <thead>
        <tr>
          <th>Facter</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for key in result[0]['ansible_facts'] %}
        <tr>
          <td>
            {{key}}
          </td>
          <td>
            <!--{%print(result[0]['ansible_facts'][key])%}-->
            {% if result[0]['ansible_facts'][key] is mapping and result[0]['ansible_facts'][key]|length>= 1 %}
            {% for key1 in result[0]['ansible_facts'][key] %}
                <br>
                {% if key == "packages" and result[0]['ansible_facts'][key]|length > 1 %}
                  {{result[0]['ansible_facts'][key][key1][0]['name']}}-{{result[0]['ansible_facts'][key][key1][0]['version']}}-{{result[0]['ansible_facts'][key][key1][0]['release']}}.{{result[0]['ansible_facts'][key][key1][0]['arch']}}
                  
                {% else %}
                  <b>{% print(key1) %}:</b><br>
                  <!-- test if it is another dict-->
                  {% if result[0]['ansible_facts'][key][key1] is iterable and (result[0]['ansible_facts'][key][key1] is not string and result[0]['ansible_facts'][key][key1] is not mapping)%}
                  &nbsp;&nbsp;{{ result[0]['ansible_facts'][key][key1] |join('<br>&nbsp;&nbsp;')|safe }}
                  {% elif result[0]['ansible_facts'][key][key1] is mapping %}
                      {%for k in result[0]['ansible_facts'][key][key1].keys()%}
                      &nbsp;&nbsp;<b>{%print (k)%}:</b>
                         {%if result[0]['ansible_facts'][key][key1][k] is mapping %}
                           {% for j in result[0]['ansible_facts'][key][key1][k].keys() %}
                           &nbsp;&nbsp;&nbsp;&nbsp;{%print(j)%}: {% print(result[0]['ansible_facts'][key][key1][k][j]) %}>
                           {% endfor %}<br>
                         {%elif result[0]['ansible_facts'][key][key1][k] is iterable and result[0]['ansible_facts'][key][key1][k] is not string and result[0]['ansible_facts'][key][key1][k] is not mapping  %}
                         {{ result[0]['ansible_facts'][key][key1][k] |join('<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;&nbsp;')|safe }}
                         <br>
                         {%else%}
                           &nbsp;&nbsp;&nbsp;&nbsp;{%print(result[0]['ansible_facts'][key][key1][k])%}
                         {%endif%}
                      {%endfor%}<br>
                  {% else %}
                  &nbsp;&nbsp;{% print(result[0]['ansible_facts'][key][key1]) %}
                  {% endif %}
                {%endif%}
            {% endfor %}
          {%elif result[0]['ansible_facts'][key] is iterable and (result[0]['ansible_facts'][key] is not string and result[0]['ansible_facts'][key] is not mapping) %}
             {% for element in result[0]['ansible_facts'][key] %}
                {% if element is mapping %}
                  {% for key2 in element.keys()%}
                   <b>{{key2}}</b>: {{element[key2]}}&nbsp;&nbsp;
                  {%endfor%}<br>
                {%else%}
                  {{ element |safe }}<br>
                {%endif%}

             {%endfor%}
            <!--{{ result[0]['ansible_facts'][key] |join('<br>')|safe }}-->
          {% else %}
            {{ result[0]['ansible_facts'][key] |safe }}
          {% endif %}
          </td>
        </tr>
        {%endfor%}
      </tbody>
      </table>
    </div>
  </div>
  {%endif%}

  <footer>
    <p>Nasredine Bentoumi - 2023</p>
  </footer>


<script>
$(document).ready( function () {
  
  function getQueryParams(qs) {
    qs = qs.split('+').join(' ');
    var params = {},
      tokens,
      re = /[?&]?([^=]+)=([^&]*)/g;
    while (tokens = re.exec(qs)) {
      params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
    }
    return params;
  }

  // Get persisted column visibility from localStorage.
  var columnVisibility = localStorage.getItem("columnVisibility");
  if (columnVisibility == null) {
    columnVisibility = { {% for fact in facters_list %} '{{fact}}': true, {% endfor %}
    };
    localStorage.setItem("columnVisibility", JSON.stringify(columnVisibility));
  } else {
    columnVisibility = JSON.parse(columnVisibility);
  }

  // Initialize the DataTables jQuery plugin on the host overview table
  var table = $('#ansibledb_tbl').DataTable({
    paging: true,
    pageLength: -1,
    pagingType: 'full_numbers',
    lengthMenu: [ [10, 25, 50,100, -1], [10, 25, 50, 100, "All"] ],
    //dom: '<B>lfrtip',
    //buttons: [
    //    'csv', 'excel',
    //   ],
    columnDefs: [
    {% for fact in facters_list %}
        { "name": '{{fact}}',
          "targets": [{{loop.index-1}}],
          "visible": true,
          "sType": "string"
        },
    {% endfor %}
    
    ],
    "fnInitComplete": function() {
      // Focus the input field
      $("#ansibledb_tbl_filter input").focus();

      // Set the search box value to the query string 'search' part
      var qp = getQueryParams(document.location.search);
      if ("search" in qp) {
        $("#ansibledb_tbl_filter input").val(qp.search);
        this.fnFilter(qp.search);
      }
    }
  });

 
  
  
  // Show a direct link to the search term
  table.on( 'search.dt', function () {
    $('#filter_link').remove();
    if (table.search() == "") {
    } else {
      $('#ansibledb_tbl_filter label').after('<span id="filter_link">&nbsp; <a title="Direct link to search" href="?search='+table.search()+'">&nbsp;</a></span>');
    }
  } );


  

 // show or hide columns
  let selected_text = $("#choices-multiple-remove-button option:selected").text();
  let selected_val = $("#choices-multiple-remove-button").val();
  let len = $("#choices-multiple-remove-button option:selected").length;
  $('#choices-multiple-remove-button').change(function() {
    let prevSelection_text = selected_text
    let prevSelection_val = selected_val
    let len_prev = len

    len=$("#choices-multiple-remove-button option:selected").length
    selected_text = $(this).find('option:selected').text();
    selected_val = $("#choices-multiple-remove-button").val();
    
   
    if ((len_prev>len) && (len>0)) {
      var option_removed_text=prevSelection_text.replace(selected_text,"")
      var arr1=Object.values(selected_val);
      var arr2=Object.values(prevSelection_val);
      let option_removed_val= arr2.filter(x => !arr1.includes(x));
      var columnId = option_removed_text
      var column = table.column( option_removed_val );
    
      column.visible( false );
      var newClass = ['col-invisible','col-visible'][Number(column.visible())];
      columnVisibility[columnId] = column.visible();
      localStorage.setItem("columnVisibility", JSON.stringify(columnVisibility)); 

    }
    else if ((len_prev<len) && (len>0)) {

      var option_added_text=selected_text.replace(prevSelection_text,"")
      var arr1=Object.values(selected_val);
      var arr2=Object.values(prevSelection_val);
      
      let option_added_val= arr1.filter(x => !arr2.includes(x));
      var columnId = option_added_text
      var column = table.column( option_added_val );
      
      column.visible( true );
      var newClass = ['col-invisible','col-visible'][Number(column.visible())];
      columnVisibility[columnId] = column.visible();
      localStorage.setItem("columnVisibility", JSON.stringify(columnVisibility));
    }
    else if (len==0) {
      localStorage.clear('columnVisibility'); location.reload();
      

    }
     
  });
 

  
  
});

</script>


  </body>
  </html>
