<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <title>AnsibleDB</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery-3.5.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
  <script>
    function generateToken() {
      var chars = 'abcdefghijklmnopqrstuvwxyz0123456789';
      var token = '';
      for(var i = 0; i < 62; i++) {
          token += chars[Math.floor(Math.random() * chars.length)];
      }
      document.getElementById("token").value = token;
      return token;
    } 
  </script>
  </head>
  <body>
  <header>
    <h1>AnsibleDB</h1>
    <span id="menu_button"><a href="/logout" title="logout">logout</a></span>
    <span id="menu_button"><a href="/settings" title="settings">settings</a></span>
    <span id="menu_button"><a href="/token" title="token">Token</a></span>
    <span id="menu_button"><a href="/facters" title="facters">facters</a></span>
    <span id="menu_button"><a href="/" title="home">home</a></span>
  </header>
  <div id="top_div">
    <h2>Tokens</h2>
   
    <div class="ui-widget">
          <form id="search-form" action="/token" method="POST">
            <input type="text" id="token" name="token" placeholder="token"  required size="80" {%if token!="" and token!=None %}value="{{token}}"{%else%} value=""{%endif%}><span></span><span></span></i>
            <input type="button" id="generate_token" name="generate_token" placeholder="generate_token" value="generate token" required onclick="javascript:generateToken()"><span></span><span></span></i>
            <!--<input id="tags">-->
            <input type="submit" id="search" value="Save Token">
          </form>

    </div>
</div>

<div id="ansibledb_tbl_div">
  <div id="ansibledb_tbl_wrapper">
    {% if result !=[] %}
    <table id="ansibledb_tbl" class="display compact">
    <thead>
      <tr>
        <th>username</th>
        <th>token</th>
        {% if username == 'admin'%}
        <th>delete</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      
      {% for token in result %}
      <tr>
        <td>{{token['username']}}</td>
        <td>{{token['token']}}</td>
        {% if username == 'admin'%}
        <td>
          <form name="delete_token" id="delete_token" action="/token" method="POST"> 
            <input type=hidden id="user_token_to_delete" name="user_token_to_delete" value="{{token['username']}}" >
            <input type=hidden id="token_to_delete" name="token_to_delete" value="{{token['token']}}" >
            <input type="submit" id="delete_token" value="delete token">
          </form>
        </td>
        {% endif %}
      </tr>  
      {% endfor %}
    </tbody>
    </table>
    {% endif %}  
  </div>
</div>

  <footer>
    <p>Generated by Ansible</p>
  </footer>
  <script>
    $(document).ready( function () {
      
      function getQueryParams(qs) {
        qs = qs.split('+').join(' ');
        var params = {},
          tokens,
          re = /[?&]?([^=]+)=([^&]*)/g;
        while (tokens = re.exec(qs)) {
          params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
        }
        return params;
      }
    
      // Get persisted column visibility from localStorage.
      var columnVisibility = localStorage.getItem("columnVisibility");
      if (columnVisibility == null) {
        columnVisibility = {
            "username": true,
            "token": true,
            {% if username == 'admin'%}
            "delete": true,
            {% endif%}
        };
        localStorage.setItem("columnVisibility", JSON.stringify(columnVisibility));
      } else {
        columnVisibility = JSON.parse(columnVisibility);
      }
       
      // Initialize the DataTables jQuery plugin on the host overview table
      var table = $('#ansibledb_tbl').DataTable({
        paging: true,
        pagingType: 'full_numbers',
        pageLength: 25,
        lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
        columnDefs: [
            {
              "targets": [0],
              "visible": true,
              "sType": "string"
            },
            {
              "targets": [1],
              "visible": true,
              "sType": "string"
            },
            {% if username == 'admin'%}
            {
              "targets": [2],
              "visible": true,
              "sType": "string"
            },
            {% endif%}
        ],
        "fnInitComplete": function() {
          // Focus the input field
          $("#ansibledb_tbl_filter input").focus();
    
          // Set the search box value to the query string 'search' part
          var qp = getQueryParams(document.location.search);
          if ("search" in qp) {
            $("#ansibledb_tbl_filter input").val(qp.search);
            this.fnFilter(qp.search);
          }
        }
      });
    
      // Display or hide columns based on localStorage preferences.
      /*for (var columnId in columnVisibility) {
        var columnButton = $("a[data-column-id='" + columnId +"']");
        var columnNr = columnButton.attr('data-column');
        var column = table.column(columnNr);
        column.visible(columnVisibility[columnId]);
        var newClass = ['col-invisible','col-visible'][Number(column.visible())];
        
      }*/
    
     
      
      
      // Show a direct link to the search term
      table.on( 'search.dt', function () {
        $('#filter_link').remove();
        if (table.search() == "") {
        } else {
          $('#ansibledb_tbl_filter label').after('<span id="filter_link">&nbsp; <a title="Direct link to search" href="?search='+table.search()+'">&nbsp;</a></span>');
        }
      } );
    });
    </script>
    </body>
  </html>

    
